extends layout
block content
  script.
  #tasks
  #accordion-log.panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#log')
            | 任务日志
      #log.panel-body.collapse
        .panel-inner
          pre=info.log.join('\n')
